__pycache__/
*.py[cod]
.venv/
.ultralytics/
Ultralytics/
.pytest_cache/
outputs/images/*
outputs/videos/*
!outputs/images/.gitkeep
!outputs/videos/.gitkeep
sleeping-as-fall-lan3/
sleeping-as-fall-lan3-test/